* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

section {
  display: -ms-flexbox;
  display: flex;
  transition: all 0.7s ease;
  background-color: #e4ebe2;
}

.home {
  min-height: 40vh;
  padding: 150px 50px 50px 50px;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.home.dark {
  background-color: #1c1c1c;
}

.home .mode-changer {
  position: absolute;
  top: 0;
  right: 0;
  margin: 50px 100px;
  padding: 10px 20px;
  font-size: 30px;
  border: solid 1px black;
  border-radius: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  background-color: #f4fdf0;
}

.home .mode-changer.dark {
  border: 1px solid white;
  color: white;
  background-color: #1c1c1c;
}

@media (max-width: 800px) {
  .home .mode-changer {
    margin: 30px;
    font-size: 25px;
  }
}

.home h1 {
  font-size: 50px;
  margin-bottom: 50px;
  font-family: 'Zen Kurenaido', sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.7s ease;
}

.home h1.dark {
  color: white;
}

@media (max-width: 500px) {
  .home h1 {
    font-size: 36px;
  }
}

.home .search-bar {
  border-radius: 50px;
  border: 1px solid black;
  background-color: #f4fdf0;
  padding: 15px 15px 15px 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  transition: background-color 0.7s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.home .search-bar.dark {
  background-color: #1c1c1c;
  border: 1px solid white;
}

.home .search-bar input {
  height: 100%;
  min-width: 30vw;
  border: none;
  font-size: 28px;
  font-family: 'Zen Maru Gothic', sans-serif;
  background-color: inherit;
  text-transform: uppercase;
}

.home .search-bar input.dark {
  color: white;
}

@media (max-width: 500px) {
  .home .search-bar input {
    width: 50vw;
  }
}

.home .search-bar input:focus {
  outline: none;
}

.home .search-bar button {
  margin: 10px;
  border: none;
  background-color: inherit;
  font-size: 24px;
  cursor: pointer;
}

.home .search-bar button.dark {
  color: white;
}

.home .search-bar:focus-within {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.countries {
  padding: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 60vh;
  -ms-flex-pack: center;
      justify-content: center;
}

.countries.dark {
  background-color: #1c1c1c;
}

@media (max-width: 1200px) {
  .countries {
    padding: 20px;
  }
}

.countries div {
  width: 15vw;
  margin: 20px;
  position: relative;
  max-height: 250px;
}

@media (max-width: 1300px) {
  .countries div {
    min-height: 200px;
  }
}

@media (max-width: 800px) {
  .countries div {
    width: 50vw;
  }
}

.countries div img {
  width: 100%;
  max-height: 75%;
  -o-object-fit: contain;
     object-fit: contain;
}

.countries div .title {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  font-family: 'Zen Maru Gothic', sans-serif;
  font-weight: bolder;
}

.countries div .title.dark {
  color: white;
}

.countries div .details {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  opacity: 0;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-family: 'Zen Maru Gothic', sans-serif;
  font-weight: bolder;
}

.countries div .details.dark {
  color: white;
}

.countries div:hover {
  cursor: pointer;
}

.countries div:hover .title,
.countries div:hover img {
  opacity: 0.2;
}

.countries div:hover .details {
  opacity: 1;
  text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
}

.modal {
  position: fixed;
  width: 70vw;
  height: 70vh;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal.dark {
  color: black;
  background-color: #e4ebe2;
}

@media (max-width: 800px) {
  .modal {
    width: 80vw;
    height: unset;
    max-height: 95vh;
  }
}

@media (max-width: 400px) {
  .modal {
    overflow-y: scroll;
  }
}

.modal img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  max-width: 35%;
  margin-right: 53%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 800px) {
  .modal img {
    position: initial;
    transform: unset;
    margin: 100px auto 50px auto;
    max-width: 60%;
    display: block;
  }
}

.modal ul {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  list-style-type: none;
  margin: auto 0 auto 53%;
  font-family: 'Zen Kurenaido', sans-serif;
  font-size: 24px;
}

@media (max-width: 800px) {
  .modal ul {
    display: block;
    position: initial;
    transform: unset;
    margin: 50px auto 100px auto;
    max-width: 60%;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .modal ul {
    font-size: 20px;
  }
}

.modal ul li:first-child {
  font-weight: bold;
}

.modal i {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition: all 0.7s ease;
  padding: 30px;
  font-size: 35px;
}

.modal i:hover {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */